<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <script src="/river-v0.3.0.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input[type="checkbox"] {
        margin-right: 5px;
      }
      #completed-tasks li {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <h1 class="title center">Welcome to the Todo App!</h1>
        <div class="section pb-0">
          <form action="/add-task" method="POST">
            <div class="field">
              <label class="label" for="task"
                >What would you like to do today?</label
              >
              <input
                class="input"
                type="text"
                name="task"
                placeholder="Add a new task"
              />
            </div>
            <button class="button is-primary">Add Task</button>
          </form>
        </div>
        <div class="section pb-0">
          <h2 class="subtitle has-text-weight-bold">Added tasks</h2>
          <form action="/remove-task" method="POST">
            <div class="field">
              <ul id="added-tasks">
                <% tasks.forEach(task => { %>
                <li>
                  <input type="checkbox" name="check" value="<%= task %>" /><%=
                  task %>
                </li>
                <% }) %>
              </ul>
            </div>
            <button class="button is-primary" type="submit">
              Mark Completed
            </button>
          </form>
        </div>
        <div class="section">
          <h2 class="subtitle has-text-weight-bold">Completed tasks</h2>
          <div class="field">
            <ul id="completed-tasks">
              <% completed.forEach(task => { %>
              <li><input type="checkbox" checked /><%= task %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="/app.js"></script>
  </body>
</html>
